h1, h2, p {
  text-align: center;
  color: #000;
}

.container{
  box-sizing: border-box;
  position: relative;
}

.header-wrapper {
  background-color: rgb(80, 80, 80);
  padding: 50px;
}

.img-wrapper {
  margin: 10px auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  width: 200px;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}

.left-wrapper {
  width: 45%;
}

.right-wrapper {
  width: 45%;
}

.footer-wrapper {
  background-color: deepskyblue;
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  top: 0;
}

.card-exercise-wrapper {
  margin: 20px;
}